html,body {
    height: 100%;
    width: 100%;
      margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #c67171;
  }
  .container {
   background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
  }
  h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  input {
      padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
  }
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #0062cc;
  }
  #result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
 
  @media (max-width: 480px) {

    html,body {
      padding: 10px;
    }
    .container {
      max-width: 300px;
      display: flex;
      flex-wrap:wrap;
      align-items: center;
      justify-content: center;
     margin: 0;
      padding: 10px;
      margin-top: 20px;
    }
  
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    input {
      max-width: 100%;
    }
  
    button {
      margin-top: 10px;
      padding: 8px 15px;
    }
  
    #result {
      font-size: 20px;
    }
  }